# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Grab Selection'
      'command': 'clipboard-master:grab'
    }
    {
      'label': 'Paste Item 1'
      'command': 'clipboard-master:paste1'
    }
    {
      'label': 'Paste Item 2'
      'command': 'clipboard-master:paste2'
    }
    {
      'label': 'Paste Item 3'
      'command': 'clipboard-master:paste3'
    }
    {
      'label': 'Paste Item 4'
      'command': 'clipboard-master:paste4'
    }
    {
      'label': 'Paste Item 5'
      'command': 'clipboard-master:paste5'
    }
    {
      'label': 'Clear All Items'
      'command': 'clipboard-master:clear'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'clipboard-master'
      'submenu': [
        {
          'label': 'Grab'
          'command': 'clipboard-master:grab'
        }
        {
          'label': 'Paste 1'
          'command': 'clipboard-master:paste1'
        }
        {
          'label': 'Paste 2'
          'command': 'clipboard-master:paste2'
        }
        {
          'label': 'Paste 3'
          'command': 'clipboard-master:paste3'
        }
        {
          'label': 'Paste 4'
          'command': 'clipboard-master:paste4'
        }
        {
          'label': 'Paste 5'
          'command': 'clipboard-master:paste5'
        }
        {
          'label': 'Clear All Items'
          'command': 'clipboard-master:clear'
        }
      ]
    ]
  }
]
